<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<h2>
  Starting to undestand this more, but the way the database work,
  will still be a goddamn challenge.
</h2>
