<!DOCTYPE html>

<html>
  <head>
    <title>Home | Ruby on Rails</title>
  <head>
  <body>
    <h1>StaticPages#home</h1>
    <h2>
      So this is kind of like a templating language huh.
      erb is very strange.
    </h2>
  </body>
</html>
